<h1>Tasks</h1>
<% @tasks.each do |task| %>
<% if task.completed %>
<% comp = "X" %>
<% else %>
<% comp = " " %>
<% end %>
<ul>
  <li>
    <%= link_to task.title, task_path(task) %> [<%= comp %>] <%= link_to "Edit", edit_path(task) %>

    <%= link_to destroy_path(task), method: :delete do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </li>
</ul>
<% end %>
<%= link_to "Add a new task", tasks_new_path %>

